USE [haru_novel_db]
GO
/****** Object:  User [BaoAdmin]    Script Date: 6/12/2026 12:06:23 PM ******/
CREATE USER [BaoAdmin] FOR LOGIN [BaoAdmin] WITH DEFAULT_SCHEMA=[BaoAdmin]
GO
/****** Object:  DatabaseRole [Admin]    Script Date: 6/12/2026 12:06:23 PM ******/
CREATE ROLE [Admin]
GO
ALTER ROLE [Admin] ADD MEMBER [BaoAdmin]
GO
/****** Object:  Schema [BaoAdmin]    Script Date: 6/12/2026 12:06:23 PM ******/
CREATE SCHEMA [BaoAdmin]
GO
/****** Object:  Table [dbo].[bookmarks]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookmarks](
	[bookmark_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[novel_id] [int] NOT NULL,
	[last_chapter_id] [int] NULL,
	[saved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookmark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chapters]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapters](
	[chapter_id] [int] IDENTITY(1,1) NOT NULL,
	[novel_id] [int] NOT NULL,
	[chapter_number] [float] NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[chapter_views] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[novel_categories]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novel_categories](
	[novel_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[novel_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[novels]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novels](
	[novel_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[cover_image] [varchar](2048) NULL,
	[view_count] [int] NULL,
	[novel_status] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[novel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/12/2026 12:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[user_role] [varchar](20) NULL,
	[user_status] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookmarks] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chapters] ADD  DEFAULT ((0)) FOR [chapter_views]
GO
ALTER TABLE [dbo].[chapters] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[novels] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[novels] ADD  DEFAULT ((1)) FOR [novel_status]
GO
ALTER TABLE [dbo].[novels] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [user_role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [user_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookmarks]  WITH CHECK ADD  CONSTRAINT [fk_bookmarks_novels] FOREIGN KEY([novel_id])
REFERENCES [dbo].[novels] ([novel_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bookmarks] CHECK CONSTRAINT [fk_bookmarks_novels]
GO
ALTER TABLE [dbo].[bookmarks]  WITH CHECK ADD  CONSTRAINT [fk_bookmarks_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bookmarks] CHECK CONSTRAINT [fk_bookmarks_users]
GO
ALTER TABLE [dbo].[chapters]  WITH CHECK ADD  CONSTRAINT [fk_chapters_novels] FOREIGN KEY([novel_id])
REFERENCES [dbo].[novels] ([novel_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chapters] CHECK CONSTRAINT [fk_chapters_novels]
GO
ALTER TABLE [dbo].[novel_categories]  WITH CHECK ADD  CONSTRAINT [fk_novelcategories_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[novel_categories] CHECK CONSTRAINT [fk_novelcategories_categories]
GO
ALTER TABLE [dbo].[novel_categories]  WITH CHECK ADD  CONSTRAINT [FK_novelcategories_novels] FOREIGN KEY([novel_id])
REFERENCES [dbo].[novels] ([novel_id])
GO
ALTER TABLE [dbo].[novel_categories] CHECK CONSTRAINT [FK_novelcategories_novels]
GO
